.pomodoro-inner-container {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    justify-content: center;
    right: 25%;
}

.pomodoro-inner-container > .content-container {
    text-align: center;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content-container > svg {
    background-color: white;
    border-radius: 50%;
}

#progressInput {
    margin: 20px auto;
    width: 60%;
}

.circle-background,
.circle-progress {
    fill: none;
}

.circle-background {
    stroke: #ddd;
}

.circle-progress {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.circle-text {
    font-size: 3em;
    font-weight: bold;
}
